@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    cursor: pointer;
   
}
.nav-list{
width: 50%;

display: flex;
align-items: center;

}
.nav-list li{
list-style: none;
padding: 13px 18px;
}
.nav-list li a{
text-decoration: none;
color: white;
font-size: 20px;
}
.nav-list li a:hover{
    
    color:gray;
    }
.rightNav{
   
    width: 50%;
    text-align: right;
    padding: 0 23px;
}
.logo{
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.logo img{
    width: 40px;
    height:40px;
    border: 1px solid white;
    border-radius: 50%;

}
#search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid gray;
    border-radius: 10px;
}
.background{
    background: rgb(0, 0,0,0.7) url('../img/bg.png');
    background-size: cover;
    background-blend-mode: darken;
}
.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
    height: 100%;
}
.firstsection{
    height: 100vh;
}
.firsthalf{
width: 80%;
display: flex;
flex-direction: column;
justify-content: center;
}
.secondhalf{
width: 50%;
}
.secondhalf img{
    width:200px;
    height:200px;
    margin-left: 100px;
  border: 2px solid white;
    border-radius: 50%;
  /*  display: block;
     margin: 0; */
}
.text-big{
    font-size: 30px;
}
.text-small{
    font-size: 15px;
}
.btn{
    padding: 8px 20px;
    margin: 17px 0;
    border: 2px solid gray;
    border-radius: 3px;
    font-size: 18px;
    background: none;
    color: white;
    cursor: pointer;
}
.btn-sm{
    padding: 6px 10px;
    vertical-align: middle;
}

.btn-dark{
    color: black;
    border: 2px solid black;
    text-align: center;
}
.section{
    height: 300px;;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    max-width: 80%;
    margin: auto;
    font-family: 'Open Sans Condensed', sans-serif;
}
.sectionleft{
    flex-direction: column-reverse;
}
.paras{
    padding: 0 65px;
}
.sectionTag{
    padding: 16px 0;
}
.sectionSubTag{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.thumbnail img{
    width: 250px;
    border: 2px solid black;
    border-radius: 26px;
    margin-top: 20px;
}

.text-center{
    text-align: center;
    padding-top: 20px;
    font-size: 35px;
    font-family: 'Open Sans Condensed', sans-serif;
}
/* card section */
.flex{
    display: flex;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 25%;
    height: 300px;
    margin: 30px 30px;
    

  }
  .card img{
  width:200px;
  height: 200px;
  
  
  border: 1px solid white;
  padding: 20px 20px;
  border-radius: 50%;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }
.form{
    margin-left:500px;

/* max-width: 1200px; 
margin: 42px auto ;
padding-left: 450px;*/

}
.form-input{
    margin: 15px 0;
    padding: 5px 3px;
    width: 50%;
    font-size: 20px;
    border: 2px solid gray;
    border-radius: 3px;
    background: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
 .submit-btn{
    margin-left:170px;
  font-size: 20px;
margin-top: 0;
border: 2px solid gray;
border-radius: 3px;
background: none;
color:black;
padding: 6px 8px;
}
.footer{
    background-color: black;
    margin-top: 40px;
 padding-left: 120px;
 height: 40vh; 
    
}
.footer-menu{
    float: left;
    width: 33%;
    
}
.footer-menu h3{
font-size: 20px;
color: rgb(124, 67, 67);
margin-top: 30px;
}
.footer-menu ul{
 
    padding: 0;
    margin: 0;
    list-style: none;
}
.footer-menu ul li a{
     font-size: 18px;
     line-height: 36px;
     text-decoration: none;
     color: gray  
}
.footer-menu ul li a:hover{
    color: rgb(112, 109, 64); 
}
#media {
font-size: 30px;
}
#media a{
    color:gray;
     
}
#media a:hover{
    color:rgb(112, 109, 64);
}
